.Quotes {
  background: #db996c;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.Quotes section {
  max-width: 600px;
  background: white;
  border-radius: 10px;
  margin: 20px auto;
  padding: 30px 0;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.5);
}

.Quotes button {
  padding: 10px 25px;
  border: 1px solid #93bcbf;
  border-radius: 5px;
  background: #aedadd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  color: #5a5f6a;
  transition: 200ms all ease-in-out;
  font-size: 20px;
  font-family: "Indie Flower", cursive;
}

.Quotes button:hover {
  border: 1px solid #5e6a89;
  background: #6e7da2;
  color: white;
  cursor: pointer;
}

.Quotes .imageoff {
  background-image: url("./lightbulboff.png");
  height: 570px;
  width: 500px;
  margin: 0 auto;
}

.Quotes .imageon {
  background-image: url("./lightbulbon.png");
  height: 570px;
  width: 500px;
  margin: 0 auto;
}
